{% load custom_filter %}
{% load static %}
<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            {% for item in parents %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordian" href="#{{ item.cate_id }}">
                                                {% if item.cate_id|hasChilds == "True" %}
                                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                {% endif %}
                                                {{ item.cate_name }}
                                            </a>
                                        </h4>
                                    </div>
                                    {% if item.cate_id|hasChilds == "True" %}
                                        <div id="{{ item.cate_id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    {% for child in item.cate_id|getChilds %}
                                                     <li><a href="/list/{{ child.cate_id }}">{{ child.cate_name }} </a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
						</div><!--/category-products-->

						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->

						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->

</div>